<div class="container">
    <!-- LOADING -->
    <div *ngIf="!isExperienceLoaded" class="page-card centered">
        <i class='fa fa-spinner fa-spin'></i>
        <span [innerHTML]="'Experience.Loading' | translate"></span>
    </div>

    <!-- ERROR -->
    <div *ngIf="isAnyErrorPresent" class="page-card centered">
        <i class='fa fa-times'></i>
        <span [innerHTML]="'Experience.Error' | translate"></span>
    </div>

    <!-- Something-->
    <div *ngIf="!isExperienceEmpty && !isAnyErrorPresent && isExperienceLoaded">
        <app-experience-preview [isAnonymous]="experience.IsAnonymous" [name]="experience.Name" [surname]=experience.Surname [nationality]="experience.Nationality"
            [birthDate]="experience.BirthDate" [photo]="experience.UserPhoto" [gender]="experience.Gender" isProfileButtonEnabled="true">
        </app-experience-preview>

        <div class="page-card">
            <h3 [innerHTML]="'Experience.ExperienceOf' | translate">
                <span *ngIf="!experience.IsAnonymous">{{experience.Name}} {{experience.Surname}}</span>
                <span *ngIf="experience.IsAnonymous" [innerHTML]="'Experience.AnonymousUser' | translate"></span>
            </h3>
            <span class="date" [innerHTML]="'Experience.Published' | translate"></span>
            <span class="date">{{experience.CreatedAt | date : 'dd/MM/yyyy hh:mm'}}</span>
            <br/>
            <p>{{experience.Description}}</p>
        </div>
    </div>
</div>