<div class="container">
    <!-- LOADING -->
    <div *ngIf="!isExperiencesLoaded" class="page-card centered">
        <i class='fa fa-spinner fa-spin'></i>
        <span [innerHTML]="'Experiences.Loading' | translate"></span>
    </div>

    <!-- ERROR -->
    <div *ngIf="isAnyErrorPresent" class="page-card centered">
        <i class='fa fa-times'></i>
        <span [innerHTML]="'Experiences.Error' | translate"></span>
    </div>

    <!-- EMPTY -->
    <div *ngIf="isExperiencesEmpty" class="page-card centered">
        <span [innerHTML]="'Experiences.NoData' | translate"></span>
        <app-divbutton text="Condividi la tua esperienza"></app-divbutton>
    </div>

    <!-- Something-->
    <div *ngIf="!isExperiencesEmpty && !isAnyErrorPresent && isExperiencesLoaded">
        <div>
            <div class="flex start-aligned">
                <span [innerHTML]="'Experiences.Filter' | translate"></span>
                <ng-select searchable="false" [placeholder]="'Experiences.Ordering' | translate" clearable="false" class="custom-select" [(ngModel)]="selectedItem" bindLabel="text" bindValue="value" (change)="onItemSelected()"
                    [items]="filters">

                    <ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
                        <div class="option">
                            <span>{{item.text}}</span>
                            <span [class]="item.icon"></span>
                        </div>
                    </ng-template>

                    <ng-template ng-label-tmp let-item="item" let-index="index" let-search="searchTerm">
                        <div class="option">
                            <span>{{item.text}}</span>
                            <span [class]="item.icon"></span>
                        </div>
                    </ng-template>
                </ng-select>
            </div>
        </div>

        <hr/>

        <div class="flex start-aligned">
            <app-experience-preview *ngFor="let experience of experiences" [isAnonymous]="experience.IsAnonymous" (click)="openExperience(experience.CodUser)"
                [name]="experience.Name" [surname]=experience.Surname [nationality]="experience.Nationality" [birthDate]="experience.BirthDate"
                [photo]="experience.UserPhoto" [gender]="experience.Gender" isProfileButtonEnabled="false">
            </app-experience-preview>
        </div>
    </div>