<div class="container">
    <!-- LOADING -->
    <div *ngIf="!isExperiencesLoaded" class="page-card centered">
        <i class='fa fa-spinner fa-spin'></i>
        <span [innerHTML]="'Disease.Loading' | translate"></span>
    </div>

    <!-- ERROR -->
    <div *ngIf="isAnyErrorPresent" class="page-card centered">
        <i class='fa fa-times'></i>
        <span [innerHTML]="'Disease.ErrorLoading' | translate"></span>
    </div>

    <!-- EMPTY -->
    <div *ngIf="isExperiencesEmpty" class="page-card centered">
        <span>Ancora nessuna esperienza</span>
        <app-divbutton text="Condividi la tua esperienza"></app-divbutton>
    </div>

    <!-- Something-->
    <div *ngIf="!isExperiencesEmpty && !isAnyErrorPresent">
        <div>
            <span>Filtro: </span>
            <select>
                <option>Data inserimento ^</option>
                <option>Data inserimento v</option>
            </select>
        </div>

        <hr/>

        <div class="flex start-aligned">
            <app-experience-preview *ngFor="let experience of experiences" [isAnonymous]="experience.IsAnonymous" (click)="openExperience(experience.CodUser)"
                [name]="experience.Name" [surname]=experience.Surname [nationality]="experience.Nationality" [birthDate]="experience.BirthDate"
                [photo]="experience.UserPhoto" [gender]="experience.Gender">
            </app-experience-preview>
        </div>
    </div>