<div class="container">
    <!-- LOADING -->
    <div *ngIf="!isExperiencesLoaded" class="page-card centered">
        <i class='fa fa-spinner fa-spin'></i>
        <span [innerHTML]="'Disease.Loading' | translate"></span>
    </div>

    <!-- ERROR -->
    <div *ngIf="isAnyErrorPresent" class="page-card centered">
        <i class='fa fa-times'></i>
        <span [innerHTML]="'Disease.ErrorLoading' | translate"></span>
    </div>

    <!-- EMPTY -->
    <div *ngIf="isExperiencesEmpty" class="page-card centered">
        <span>Ancora nessuna esperienza</span>
        <app-divbutton text="Condividi la tua esperienza"></app-divbutton>
    </div>

    <!-- Something-->
    <div *ngIf="!isExperiencesEmpty && !isAnyErrorPresent">
        <div>
            <span>Filtro: </span>
            <select>
                <option>Data inserimento ^</option>
                <option>Data inserimento v</option>
            </select>
        </div>

        <hr/>

        <div class="flex start-aligned">
            <div *ngFor="let experience of experiences">
                <div class="card flex centered vertical experience-box" *ngIf="experience.IsAnonymous" (click)="openExperience(experience.CodUser)">
                    <img src="../../../assets/images/default-user.png" />
                    <div class="centered">Anonimo</div>
                </div>

                <div class="card flex centered vertical experience-box" *ngIf="!experience.IsAnonymous" (click)="openExperience(experience.CodUser)">
                    <img [src]="experience.UserPhoto" />
                    <div class="centered">
                        <b>{{experience.Name}} {{experience.Surname}}</b><br/>
                        <span>{{experience.Gender}}</span>
                        <span>{{experience.Nationality}}</span>
                        <span>{{experience.BirthDate}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>