<div class="container">
    <!-- LOADING -->
    <div *ngIf="!isExperienceLoaded" class="page-card centered">
        <i class='fa fa-spinner fa-spin'></i>
        <span [innerHTML]="'Disease.Loading' | translate"></span>
    </div>

    <!-- ERROR -->
    <div *ngIf="isAnyErrorPresent" class="page-card centered">
        <i class='fa fa-times'></i>
        <span [innerHTML]="'Disease.ErrorLoading' | translate"></span>
    </div>

    <!-- EMPTY -->
    <div *ngIf="isExperienceEmpty" class="page-card centered">
        <span>Ancora nessuna esperienza</span>
        <app-divbutton text="Condividi la tua esperienza"></app-divbutton>
    </div>

    <!-- Something-->
    <div *ngIf="!isExperienceEmpty && !isAnyErrorPresent && isExperienceLoaded">
        <app-experience-preview [isAnonymous]="experience.IsAnonymous" [name]="experience.Name" [surname]=experience.Surname [nationality]="experience.Nationality"
            [birthDate]="experience.BirthDate" [photo]="experience.UserPhoto" [gender]="experience.Gender" isProfileButtonEnabled="true">
        </app-experience-preview>

        <div class="page-card">
            <h3>Esperienza di {{experience.Name}} {{experience.Surname}}</h3>
            <span class="info">Pubblicato il {{experience.CreatedAt | date : 'dd/MM/yyyy hh:mm'}}</span>
            <br/>
            <p>{{experience.Description}}</p>
        </div>
    </div>
</div>