<div class="container">
    <!-- LOADING -->
    <div *ngIf="!isThreadLoaded" class="page-card centered">
        <i class='fa fa-spinner fa-spin'></i>
        <span [innerHTML]="'ForumThread.Loading' | translate"></span>
    </div>

    <!-- ERROR -->
    <div *ngIf="isAnyErrorPresent" class="page-card centered">
        <i class='fa fa-times'></i>
        <span [innerHTML]="'ForumThread.Error' | translate"></span>
    </div>

    <!-- User not logged -->
    <div *ngIf="!isUserLoggedIn && isThreadLoaded" class="page-card centered">
        <span [innerHTML]="'ForumThread.UserNotLoggedIn' | translate"></span>
    </div>

    <!-- ALL OK -->
    <div *ngIf="isUserLoggedIn && !isAnyErrorPresent && isThreadLoaded">
        <app-forum-thread-view class="thread-title" [isAnonymous]="thread.author.is_anonymous" [image]="thread.author.photoURL" [author]="thread.author.fullname" [pastTime]="thread.past_time" [title]="thread.title"
            [content]="thread.description">
        </app-forum-thread-view>

        <app-forum-thread-view *ngFor="let message of thread.messages" [isAnonymous]="message._authorId.is_anonymous" [image]="message._authorId.photoURL" [author]="message._authorId.fullname" [pastTime]="message.past_time"
            [content]="message.content" isMessage="true">
        </app-forum-thread-view>

        <div class="page-card reply">
            <span [innerHTML]="'ForumThread.InsertReplyHere' | translate"></span>
            <textarea [(ngModel)]="replyContent"></textarea>
            <span *ngIf="isReplyEmpty" class="info small-text" [innerHTML]="'ForumThread.ReplyEmpty' | translate"></span>
            <span *ngIf="isReplyPosting" class="info small-text">
                <i class='fa fa-spinner fa-spin'></i>
                <span [innerHTML]="'ForumThread.ReplyPosting' | translate"></span>
            </span>
            <span *ngIf="isReplyPostingError" class="info small-text" [innerHTML]="'ForumThread.ReplyPostingError' | translate"></span>

            <div class="flex end-aligned">
                <div class="reply-button">
                    <app-divbutton icon="fa fa-reply" [text]="'ForumThread.Reply' | translate" (click)="onReplyClick()"></app-divbutton>
                </div>
            </div>
        </div>

    </div>
</div>