<div class="container">
    <!-- LOADING -->
    <div *ngIf="!isThreadLoaded" class="page-card centered">
        <i class='fa fa-spinner fa-spin'></i>
        <span [innerHTML]="'ForumThread.Loading' | translate"></span>
    </div>

    <!-- ERROR -->
    <div *ngIf="isAnyErrorPresent" class="page-card centered">
        <i class='fa fa-times'></i>
        <span [innerHTML]="'ForumThread.Error' | translate"></span>
    </div>

    <!-- User not logged -->
    <div *ngIf="!isUserLoggedIn && isThreadLoaded" class="page-card centered">
        <span [innerHTML]="'ForumThread.UserNotLoggedIn' | translate"></span>
    </div>

    <!-- ALL OK -->
    <div *ngIf="isUserLoggedIn && !isAnyErrorPresent && isThreadLoaded">
        <app-forum-thread-view
            [image]=""
            [author]="thread.author.fullname"
            [pastTime]="thread.past_time"
            [title]="thread.title"
            [content]="thread.description">
        </app-forum-thread-view>

        <app-forum-thread-view
            *ngFor="let message of thread.messages"
            [image]=""
            [author]="message._authorid"
            [pastTime]="message.past_time"
            [content]="message.content"
            isMessage="true">
        </app-forum-thread-view>
        <!--<div class="page-card">
            <div class=" flex start-aligned">
                <div class="img"></div>
                <div class="right-title-items">
                    {{thread.author.fullname}}
                    <br/>
                    <div class="small-detail">{{thread.past_time.duration}} {{thread.past_time.unit}}</div>
                </div>
            </div>

            <div>
                <h4>{{thread.title}}</h4>
                <p>{{thread.description}}</p>
            </div>
        </div>

        <div class="page-card comment" *ngFor="let message of thread.messages">

        </div>-->

    </div>
</div>