<div class="flex start-aligned">
    <div class="card flex centered vertical start-aligned experience-box" ngClass="{'hovered': !isProfileButtonEnabled}" *ngIf="isAnonymous">
        <img src="../../assets/images/default-user.png" />
        <div class="centered">Anonimo</div>
        <div class="button" *ngIf="isProfileButtonEnabled == 'true'">
            <app-divbutton text="Apri Profilo"></app-divbutton>
        </div>
    </div>

    <div class="card flex centered vertical start-aligned experience-box" ngClass="{'hovered': !isProfileButtonEnabled}" *ngIf="!isAnonymous">
        <img [src]="photo" />
        <div class="centered">
            <b>{{name}} {{surname}}</b>
            <br/>
            <span>{{gender}}</span>
            <br/>
            <span>{{nationality}}</span>
            <br/>
            <span>{{birthDate | date : 'dd/MM/yyyy'}}</span>
            <div class="button" *ngIf="isProfileButtonEnabled == 'true'">
                <app-divbutton text="Apri Profilo"></app-divbutton>
            </div>
        </div>
    </div>
</div>