<div class="page-card" [ngClass]="{'message': isMessage}">
    <div class="flex spaced">
        <div class=" flex start-aligned">
            <img *ngIf="isAnonymous || !image" src="../../assets/images/default-user.png" />
            <img *ngIf="!isAnonymous && image" [src]="image" />
            <div class="right-title-items">
                <span *ngIf="!isAnonymous">{{author}}</span>
                <span *ngIf="isAnonymous" [innerHTML]="'Forum.Anonymous' | translate"></span>
                <br/>
                <div *ngIf="pastTime" class="small-detail">{{pastTime.duration}} {{pastTime.unit}}</div>
            </div>
        </div>

        <div *ngIf="moderatedSection >= 0" class="flex moderator" (click)="onModerateClick($event)">
            <i *ngIf="!isLoading" class="fa fa-flag not-spaced" aria-hidden="true"></i>
            <i *ngIf="isLoading" class="fa fa-spinner fa-spin" aria-hidden="true"></i>
        </div>
    </div>

    <div class="message-content">
        <h4 *ngIf="title != ''">{{title}}</h4>
        <p>{{content}}</p>
    </div>
</div>