<div class="flex spaced card top-bar">
    <!-- Left -->
    <div class="flex left-components" routerLink="/home">
        <img class="logo" src="../../assets/images/logo.png">
        <h1>Not So <b>Rare</b></h1>
    </div>




    <div class="flex right-components margined">
        <!-- Right REGISTERED -->
        <div class="flex margined" *ngIf="sessionStatus == 1">
            <app-menubutton icon="fa fa-bell" badge="9"></app-menubutton>
            <app-menubutton icon="fa fa-user" routerLink="/profile"></app-menubutton>
        </div>

        <!-- Right UNREGISTERED -->
        <div class="flex margined" *ngIf="sessionStatus == 2">
            <app-divbutton [text]="'Common.Signup' | translate" isBordered="true" routerLink="/register"></app-divbutton>
            <app-divbutton [text]="'Common.Login' | translate" routerLink="/login"></app-divbutton>
        </div>

        <!-- Right Common for all -->
        <ng-select 
            class="custom-select"
            [items]="avaiableTranslations|async"
            [clearable]="false"
            bindValue="code2Letters"
            (change)="onLanguageChanged()"
            [(ngModel)]="selectedLanguage" 
            [searchable]="false">

            <ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
                <div class="div-option">
                    <img class="icon" [src]="item.icon"/>
                    <span>{{item.code2Letters}}</span>
                </div>
            </ng-template>
    
            <ng-template ng-label-tmp let-item="item" let-index="index" let-search="searchTerm">
                <div class="div-option">
                    <img class="icon" [src]="item.icon"/>
                    <span>{{item.code2Letters}}</span>
                </div>
            </ng-template>
        </ng-select>

        <app-menubutton icon="fa fa-bars"></app-menubutton>
    </div>
</div>
