<div class="flexbox-container spaced card top-bar">
    <!-- Left -->
    <div class="flexbox-container left-components" routerLink="/home">
        <img src="../../assets/images/logo.png">
        <h1>Not So <b>Rare</b></h1>
    </div>

    <!-- Right REGISTERED -->
    <div *ngIf="isSessionValid" class="flexbox-container right-components">
        <app-menubutton icon="fa fa-bell" badge="9"></app-menubutton>
        <app-menubutton icon="fa fa-user"></app-menubutton>
        <app-menubutton icon="fa fa-bars"></app-menubutton>
    </div>

    <!-- Right UNREGISTERED -->
    <div *ngIf="!isSessionValid" class="flexbox-container right-components margined">
        <app-divbutton text="Iscriviti" isBordered="true" routerLink="/register"></app-divbutton>
        <app-divbutton text="Accedi"></app-divbutton>
        <app-menubutton icon="fa fa-bars"></app-menubutton>
    </div>
</div>
