<div class="container">
    <h3>Elenco di tutte le malattie</h3>

    <div class="page-card-page centered" *ngIf="isLoading">
        <i class='fa fa-spinner fa-spin'></i>
        <span>Ricerca di
            <b>tutte</b> le malattia in corso...</span>
    </div>

    <div class="page-card centered" *ngIf="isAnyErrorPresent">
        <i class='fa fa-times'></i>
        <span>C'è stato un problema durante la ricerca delle malattie. Riprovare.</span>
    </div>

    <div class="page-card centered" *ngIf="isResultsEmpty">
        <span>Nessuna malattia corrisponde ai criteri di ricerca indicati.</span>
    </div>

    <div class="" *ngIf="isLoadingCompleted">
        <div class="page-card" *ngFor="let specialty of specialties">
            <h4>{{specialty.SpecialtyName}}</h4>
            <ul>
                <li class="clickable" *ngFor="let disease of specialty.diseases" (click)="openDisease(disease.CodDisease)">{{disease.DiseaseName}}</li>
            </ul>
        </div>
    </div>

</div>