<div class="container">
    <h3 class="centered">
        Ricerca delle malattie rare
    </h3>

    <app-search-bar #searchBar (onResultClicked)="onResultClicked($event[0])" (onSearchClicked)="onSearchClicked($event[0])"></app-search-bar>

    <div>
        <div class="page-card-page centered" *ngIf="isLoading">
            <i class='fa fa-spinner fa-spin'></i>
            <span>Ricerca di <b>tutte</b> le malattia in corso...</span>
        </div>

        <div class="page-card centered" *ngIf="isAnyErrorPresent">
            <i class='fa fa-times'></i>
            <span>C'è stato un problema durante la ricerca delle malattie. Riprovare.</span>
        </div>

        <div class="page-card centered" *ngIf="isResultsEmpty">
            <span>Nessuna malattia corrisponde ai criteri di ricerca indicati.</span>
        </div>

        <div class="flex wrapped results">
            <div *ngFor="let searchResult of searchResults | async" class="card mini" (click)="openDisease(searchResult.CodDisease)">
                {{searchResult.Name}}
            </div>
        </div>

    </div>
</div>