<div>
    <!-- LOADING -->
    <div *ngIf="!isDiseaseLoaded" class="container page-card message">
        <i class='fa fa-spinner fa-spin'></i>
        <span [innerHTML]="'Disease.Loading' | translate"></span>
    </div>

    <!-- ERROR -->
    <div *ngIf="isAnyErrorPresent" class="container page-card message">
        <i class='fa fa-times'></i>
        <span [innerHTML]="'Disease.ErrorLoading' | translate"></span>
    </div>

    <!-- LOADED -->
    <div *ngIf="isDiseaseLoaded && !isAnyErrorPresent">
        <!-- Title
        <div>
            {{disease.general.Name}}
        </div> -->


        <div class="general-box">
            <!-- Menu -->
            <div class="menu-box">
                <!-- Title (desktop) -->
                <div class="title-box">
                    <h3>{{disease.general.Name}}</h3>
                    <ul class="clear-list">
                        <li class="synonymous" *ngFor="let synonymous of disease.synonymous">{{synonymous.Name}}</li>
                    </ul>
                </div>

                <!-- Real menu -->
                <ul class="clear-list menu">
                    <li>
                        <i class="fa fa-info-circle" aria-hidden="true"></i> Informazioni
                    </li>
                    <li>
                        <i class="fa fa-commenting" aria-hidden="true"></i> Esperienze
                    </li>
                    <li>
                        <i class="fa fa-hospital-o" aria-hidden="true"></i> Centri specializzati
                    </li>
                    <li>
                        <i class="fa fa-comments" aria-hidden="true"></i> Forum
                    </li>
                    <li>
                        <i class="fa fa-link" aria-hidden="true"></i> Riferimenti utili
                    </li>

                </ul>
            </div>

            <!-- The container -->
            <div class="content-box">
                <!-- Cathegory -->
                <div class="flex title-box">
                    <div class="flex left-title">
                        <h4>Categorizzazione e classifica</h4>
                    </div>

                    <div>
                        <h5>Specialità</h5>
                        <div class="small-box">{{disease.general.SpecialityName}}</div>
                    </div>

                    <div class="right-title">
                        <ul class="clear-list small">
                            <li><b>Numero Orpha: </b> 
                                <span *ngIf="disease.general.OrphaNumber != null">{{disease.general.OrphaNumber}}</span>
                                <span *ngIf="disease.general.OrphaNumber == null">-</span>
                            </li>
                            <li><b>ICD10: </b>
                                <span *ngIf="disease.general.ICD10 != null">{{disease.general.ICD10}}</span>
                                <span *ngIf="disease.general.ICD10 == null">-</span>
                            </li>
                            <li><b>OMIM: </b>
                                <span *ngIf="disease.general.OMIM != null">{{disease.general.OMIM}}</span>
                                <span *ngIf="disease.general.OMIM == null">-</span>
                            </li>
                            <li><b>UMLS: </b>
                                <span *ngIf="disease.general.UMLS != null">{{UMLS}}</span>
                                <span *ngIf="disease.general.UMLS == null">-</span>
                            </li>
                            <li><b>MeSH: </b>
                                <span *ngIf="disease.general.MeSH != null">{{disease.general.MeSH}}</span>
                                <span *ngIf="disease.general.MeSH == null">-</span>
                            </li>
                            <li><b>GARD: </b>
                                <span *ngIf="disease.general.GARD != null">{{disease.general.GARD}}</span>
                                <span *ngIf="disease.general.GARD == null">-</span>
                            </li>
                            <li><b>MedDRA: </b>
                                <span *ngIf="disease.general.MedDRA != null">{{disease.general.MedDRA}}</span>
                                <span *ngIf="disease.general.MedDRA == null">-</span>
                            </li>
                        </ul>
                    </div>
                </div>

                <!-- Definition -->
                <div class="box">
                    <h3>Descrizione della malattia</h3>
                    <p>{{disease.general.Description}}</p>
                </div>
            </div>
        </div>


    </div>
</div>