<div>
    <!-- LOADING -->
    <div *ngIf="!isDiseaseLoaded" class="flex container no-box">
        <i class='fa fa-spinner fa-spin'></i>
        <span [innerHTML]="'Disease.Loading' | translate"></span>
    </div>

    <!-- ERROR -->
    <div *ngIf="isAnyErrorPresent" class="flex container no-box">
        <i class='fa fa-times accent'></i>
        <span [innerHTML]="'Disease.Error' | translate"></span>
    </div>

    <!-- LOADED -->
    <div *ngIf="isDiseaseLoaded && !isAnyErrorPresent">

        <div class="general-box">
            <!-- Menu -->
            <div class="menu-box">
                <!-- Title (desktop) -->
                <div class="title-box">
                    <h3>{{disease.general.Name}}</h3>
                    <ul class="clear-list">
                        <li class="synonymous" *ngFor="let synonymous of disease.synonymous">{{synonymous.Name}}</li>
                    </ul>

                    <div class="statistics-box">
                        <div>
                            <i class="fa fa-users big" aria-hidden="true"></i>
                            <div class="big">{{disease.general.StandardUsersNumber}}</div>
                            <span [innerHTML]="'Disease.UsersCounter' | translate"></span>
                        </div>

                        <div>
                            <i class="fa fa-quote-left big" aria-hidden="true"></i>
                            <div class="big">{{disease.general.ExperiencesNumber}}</div>
                            <span [innerHTML]="'Disease.ExperiencesCounter' | translate"></span>
                        </div>

                        <div>
                            <i class="fa fa-comments big" aria-hidden="true"></i>
                            <div class="big">{{disease.general.ForumThreadsNumber}}</div>
                            <span [innerHTML]="'Disease.ThreadsCounter' | translate"></span>
                        </div>
                    </div>

                    <div class="follow-button" *ngIf="(userLoggedIn >= 0) && isDiseaseFollowedLoaded">
                        <app-divbutton #followButton *ngIf="!isDiseaseFollowed" icon="fa fa-plus-circle" text="Segui" isBordered="true" (click)="onFollow()"></app-divbutton>
                        <app-divbutton #unfollowButton *ngIf="isDiseaseFollowed" icon="fa fa-minus-circle" text="Smetti di seguire" isBordered="true" (click)="onUnfollow()"></app-divbutton>
                    </div>
                </div>

                <!-- Real menu -->
                <ul class="clear-list menu">
                    <li routerLink="./overview" routerLinkActive="selected">
                        <i class="fa fa-info-circle" aria-hidden="true"></i>
                        <span [innerHTML]="'Disease.Information' | translate"></span>
                    </li>
                    <li routerLink="./experiences" routerLinkActive="selected">
                        <i class="fa fa-commenting" aria-hidden="true"></i>
                        <span [innerHTML]="'Disease.Experiences' | translate"></span>
                    </li>
                    <li routerLink="./expert-centres" routerLinkActive="selected">
                        <i class="fa fa-hospital-o" aria-hidden="true"></i>
                        <span [innerHTML]="'Disease.ExpertCentres' | translate"></span>
                    </li>
                    <li routerLink="./forum" routerLinkActive="selected">
                        <i class="fa fa-comments" aria-hidden="true"></i>
                        <span [innerHTML]="'Disease.Forum' | translate"></span>
                    </li>
                    <li routerLink="./references" routerLinkActive="selected">
                        <i class="fa fa-link" aria-hidden="true"></i>
                        <span [innerHTML]="'Disease.References' | translate"></span>
                    </li>

                </ul>
            </div>

            <!-- The container -->
            <div class="content-box">
                <router-outlet></router-outlet>
            </div>
        </div>


    </div>
</div>