<div>
    <!-- LOADING -->
    <div *ngIf="!isDiseaseLoaded" class="flex container no-box">
        <i class='fa fa-spinner fa-spin'></i>
        <span [innerHTML]="'Disease.Loading' | translate"></span>
    </div>

    <!-- ERROR -->
    <div *ngIf="isAnyErrorPresent" class="flex container no-box">
        <i class='fa fa-times'></i>
        <span [innerHTML]="'Disease.ErrorLoading' | translate"></span>
    </div>

    <!-- LOADED -->
    <div *ngIf="isDiseaseLoaded && !isAnyErrorPresent">
        <!-- Title
            <div>
                {{disease.general.Name}}
            </div> -->


        <div class="general-box">
            <!-- Menu -->
            <div class="menu-box">
                <!-- Title (desktop) -->
                <div class="title-box">
                    <h3>{{disease.general.Name}}</h3>
                    <ul class="clear-list">
                        <li class="synonymous" *ngFor="let synonymous of disease.synonymous">{{synonymous.Name}}</li>
                    </ul>

                    <div class="statistics-box">
                        <div>
                            <i class="fa fa-users big" aria-hidden="true"></i>
                            <div class="big">{{disease.general.StandardUsersNumber}}</div>
                            <span>utenti</span>
                        </div>

                        <div>
                            <i class="fa fa-quote-left big" aria-hidden="true"></i>
                            <div class="big">1000</div>
                            <span>esperienze</span>
                        </div>

                        <div>
                            <i class="fa fa-comments big" aria-hidden="true"></i>
                            <div class="big">{{disease.general.ForumThreadsNumber}}</div>
                            <span>discussioni</span>
                        </div>
                    </div>
                </div>

                <!-- Real menu -->
                <ul class="clear-list menu">
                    <li routerLink="./overview" routerLinkActive="selected">
                        <i class="fa fa-info-circle" aria-hidden="true"></i> Informazioni
                    </li>
                    <li routerLink="./experiences" routerLinkActive="selected">
                        <i class="fa fa-commenting" aria-hidden="true"></i> Esperienze
                    </li>
                    <li routerLink="./expert-centres" routerLinkActive="selected">
                        <i class="fa fa-hospital-o" aria-hidden="true"></i> Centri specializzati
                    </li>
                    <li routerLink="./forum" routerLinkActive="selected">
                        <i class="fa fa-comments" aria-hidden="true"></i> Forum
                    </li>
                    <li routerLink="./references" routerLinkActive="selected">
                        <i class="fa fa-link" aria-hidden="true"></i> Riferimenti utili
                    </li>

                </ul>
            </div>

            <!-- The container -->
            <div class="content-box">
                <router-outlet></router-outlet>
            </div>
        </div>


    </div>
</div>