<div class="container">
    <h3 [innerHTML]="'DiseaseSearch.DiseaseList' | translate"></h3>

    <div class="page-card-page centered" *ngIf="isLoading">
        <i class='fa fa-spinner fa-spin'></i>
        <span [innerHTML]="'DiseaseSearch.Loading' | translate"></span>
    </div>

    <div class="page-card centered" *ngIf="isAnyErrorPresent">
        <i class='fa fa-times'></i>
        <span [innerHTML]="'DiseaseSearch.Error' | translate"></span>
    </div>

    <div class="page-card centered" *ngIf="isResultsEmpty">
        <span [innerHTML]="'DiseaseSearch.NoData' | translate"></span>
    </div>

    <div class="" *ngIf="isLoadingCompleted">
        <div class="page-card" *ngFor="let specialty of specialties">
            <h4>{{specialty.SpecialtyName}}</h4>
            <ul>
                <li class="clickable" *ngFor="let disease of specialty.diseases" (click)="openDisease(disease.CodDisease)">{{disease.DiseaseName}}</li>
            </ul>
        </div>
    </div>

</div>