<div class="flexbox-container centered main-container">
    <div class="middle">
        <h2>Le malattie non sono così rare se le affrontiamo <b>insieme</b></h2>

        <h3>
            Segui le malattine di tuo interesse e informati su un particolare disturbo,
            scopri i migliori centri specializzati e i medici di riferimento per la tua patologia,
            entra in contatto con altri malati rari, condividi la tua esperienza,
            partecipa alle discussioni e tanto altro ancora.
        </h3>

        <div class="flexbox-container centered">
            <input type="search" placeholder="Inserisci il nome della malattia"/>
            <app-divbutton id="button-search" icon="fa fa-search" isHalfCornered="true"></app-divbutton>
        </div>
    </div>
</div>
