<div class="container">
    <!-- LOADING -->
    <div *ngIf="!isProfileLoaded" class="page-card centered">
        <i class='fa fa-spinner fa-spin'></i>
        <span [innerHTML]="'Profile.Loading' | translate"></span>
    </div>

    <!-- ERROR -->
    <div *ngIf="isAnyErrorPresent" class="page-card centered">
        <i class='fa fa-times'></i>
        <span [innerHTML]="'Profile.Error' | translate"></span>
    </div>

    <!-- User not logged -->
    <div *ngIf="!isUserLoggedIn && isProfileLoaded" class="page-card centered">
        <span [innerHTML]="'Profile.UserNotLoggedIn' | translate"></span>
    </div>

    <div *ngIf="isUserLoggedIn && isProfileLoaded && !isAnyErrorPresent">
        <div class="page-card">
            <img [src]="user.Photo" />

            <div class="flex end-aligned">
                <div class="spaced-elem" *ngIf="RareDiseasesCount">
                    <span>{{RareDiseasesCount}}</span>
                    <span [innerHTML]="'Profile.RareDiseasesCount' | translate"></span>
                </div>

                <div class="spaced-elem last" *ngIf="RareDiseasesCount">
                    <span>{{ExperiencesCount}}</span>
                    <span [innerHTML]="'Profile.ExperiencesCount' | translate"></span>
                </div>
            </div>

            <div>
              <h4>{{user.Name}} {{user.Surname}}</h4> 
              <span class="minor">
                  <i class="fa fa-calendar"></i>
                  <span [innerHTML]="'Profile.RegisteredDate' | translate"></span>
              </span>
            </div>
        </div>

        <div class="page-card">
            <div class="flex">
                <div class="logout-button">
                    <app-divbutton text="Logout" (click)="onLogout($event)"></app-divbutton>
                </div>
            </div>
        </div>
    </div>
</div>