<div class="container">
    <!-- LOADING -->
    <div *ngIf="!isProfileLoaded" class="page-card centered">
        <i class='fa fa-spinner fa-spin'></i>
        <span [innerHTML]="'Profile.Loading' | translate"></span>
    </div>

    <!-- ERROR -->
    <div *ngIf="isAnyErrorPresent" class="page-card centered">
        <i class='fa fa-times'></i>
        <span [innerHTML]="'Profile.Error' | translate"></span>
    </div>

    <!-- User not logged -->
    <div *ngIf="!isUserLoggedIn && isProfileLoaded && !isAnyErrorPresent" class="page-card centered">
        <span [innerHTML]="'Profile.UserNotLoggedIn' | translate"></span>
    </div>

    <div *ngIf="isUserLoggedIn && isProfileLoaded && !isAnyErrorPresent">
        <div class="page-card top-margined">
            <img *ngIf="!user.IsAnonymous || (user.IsAnonymous && isProfileMine && user.Photo)" [src]="user.Photo" />
            <img *ngIf="(user.IsAnonymous && !isProfileMine) || !user.Photo" src="../../assets/images/default-user.png" />

            <div class="flex end-aligned top-unmargined">
                <div class="spaced-elem" *ngIf="user.RareDiseasesCount >= 0">
                    <div class="major">{{user.RareDiseasesCount}}</div>
                    <div [innerHTML]="'Profile.RareDiseasesCount' | translate"></div>
                </div>

                <div class="spaced-elem last" *ngIf="user.ExperiencesCount >= 0">
                    <div class="major">{{user.ExperiencesCount}}</div>
                    <div [innerHTML]="'Profile.ExperiencesCount' | translate"></div>
                </div>
            </div>

            <div>
                <h3 *ngIf="!user.IsAnonymous || isProfileMine" [ngClass]="{'male': user.Gender=='M', 'female': user.Gender=='F'}">{{user.Name}} {{user.Surname}}</h3>
                <h3 *ngIf="user.IsAnonymous && !isProfileMine" [innerHTML]="'Profile.AnonymousUser' | translate"></h3>
                <div class="minor">
                    <i class="fa fa-calendar"></i>
                    <span [innerHTML]="'Profile.RegisteredDate' | translate"></span>
                    <span> {{user.RegistrationDate | date : 'dd/MM/yyyy'}}</span>
                </div>

                <div *ngIf="!user.IsAnonymous || isProfileMine" class="minor">
                    <i class="fa fa-flag"></i>
                    <span [innerHTML]="'Profile.Nationality' | translate"></span>
                    <span>: {{user.Nationality}}</span>
                </div>
            </div>

            <div *ngIf="!user.IsAnonymous || isProfileMine" >
                <p>{{user.Biography}}</p>
            </div>

            <div *ngIf="!user.PatientYN">
                <p>
                    <b [innerHTML]="'Profile.RegisteredInNameOf' | translate"></b>
                    <br/>
                    <span [ngClass]="{'male': user.Gender=='M', 'female': user.Gender=='F'}">{{user.PatientName}} {{user.PatientSurname}} </span> ({{user.PatientNationality}}),
                    <span [innerHTML]="'Profile.BirthOn' | translate"></span> {{user.BirthDate | date : 'dd/MM/yyyy'}}
                </p>
            </div>
        </div>

        <div class="page-card tabbed">
            <div class="tab-container">
                <div routerLink="./followedDiseases" routerLinkActive="selected" class="tab-title left centered" [innerHTML]="'Profile.FollowedDiseases' | translate"></div>
                <div routerLink="./threads" routerLinkActive="selected" class="tab-title centered" [innerHTML]="'Profile.Threads' | translate"></div>
                <div routerLink="./experiences" routerLinkActive="selected" class="tab-title centered right" [innerHTML]="'Profile.Experiences' | translate"></div>
            </div>

            <router-outlet></router-outlet>
        </div>

        <div *ngIf="isProfileMine">
            <div class="page-card">
                <app-radiogroup #radioGroup [radiobuttons]="[
                    { key: 'public', value: 'Profile.AccountPublic' | translate },
                    { key: 'private', value: 'Profile.AccountPrivate' | translate }
                ]" (onSelected)="onAccountTypeSelected($event[0])" [amIchecked]="itemChecked">
                </app-radiogroup>

                <div class="flex vertical">
                    <span class="centered" *ngIf="isPublicSelected" [innerHTML]="'Profile.AccountPublicInfo' | translate"></span>
                    <span class="centered" *ngIf="!isPublicSelected" [innerHTML]="'Profile.AccountPrivateInfo' | translate"></span>

                    <div *ngIf="!isSavingProfile" class="button">
                        <app-divbutton isBordered="true" [text]="'Profile.Save' | translate" (click)="onSaveAccountType()"></app-divbutton>
                    </div>

                    <div *ngIf="isSavingProfile">
                        <i class='fa fa-spinner fa-spin'></i>
                        <span [innerHTML]="'Profile.Saving' | translate"></span>
                    </div>

                    <div *ngIf="isSavingProfileError">
                        <span [innerHTML]="'Profile.SavingError' | translate"></span>
                    </div>
                </div>

            </div>

            <div class="page-card flex">
                <div class="button">
                    <app-divbutton text="Logout" (click)="onLogout($event)"></app-divbutton>
                </div>
            </div>
        </div>
    </div>
</div>