<div class="container">
    <h3>Iscriviti</h3>

    <div class="page-card">
        <i>Tutti i campi contrassegnati con <span class="highlight">(*)</span> sono obbligatori</i>
    </div>

    <h4>Tipo di account <span class="highlight">(*)</span></h4>
    <div class="page-card centered">
        <app-radiogroup
            [radiobuttons]="radioButtons"
            (onSelected)="onAccountTypeSelected($event[0])">
        </app-radiogroup>

        <span class="info" *ngIf="signupData.isPatient">
            Un account di tipo "Paziente" serve al diretto malato. Esso può confrontarsi direttamente per qualsiasi cosa disponibile sul sito.
        </span>

        <span class="info" *ngIf="!signupData.isPatient">
            Un account di tipo "Famigliare" è studiato per dare l'accesso alla piattaforma anche ai famigliari del malato, affinchè, se direttamente
            incapace, possa comunque ricevere aiuto da parte della comunità.
        </span>
    </div>

    <h4>Dati personali</h4>
    <div class="page-card">
        <div class="flexbox-container spaced top-aligned">
            <div class="half-paged">
                <div class="field">
                    <label class="title" for="name">Nome <span class="highlight">(*)</span></label>
                    <input type="text" id="name" [(ngModel)]="signupData.name"/>
                    <span class="info small-text" *ngIf='errors.name != undefined && errors.name != ""'>{{errors.name}}</span>
                </div>

                <div class="field">
                    <label class="title" for="surname">Cognome <span class="highlight">(*)</span></label>
                    <input type="text" id="surname" [(ngModel)]="signupData.surname"/>
                    <span class="info small-text" *ngIf='errors.surname != undefined && errors.surname != ""'>{{errors.surname}}</span>
                </div>

                <div class="field">
                    <label class="title" for="gender">Sesso <span class="highlight">(*)</span></label>
                    <fieldset id="gender">
                        <input type="radio" name="gender" id="genderMale" (change)="onGenderChanged('M')"/>
                        <label for="genderMale">Maschio</label>

                        <input type="radio" name="gender" id="genderFemale" (change)="onGenderChanged('F')"/>
                        <label for="genderFemale">Femmina</label>
                    </fieldset>

                    <span class="info small-text" *ngIf='errors.gender != undefined && errors.gender != ""'>{{errors.gender}}</span>
                </div>

                <div class="field">
                    <label class="title" for="birthDate">Data di nascita <span class="highlight">(*)</span></label>
                    <input type="date" id="birthDate" [(ngModel)]="signupData.birthDate"/>
                    <span class="info small-text" *ngIf='errors.birthDate != undefined && errors.birthDate != ""'>{{errors.birthDate}}</span>
                </div>

                <div class="field">
                    <label class="title" for="nationality">Nazionalità <span class="highlight">(*)</span></label>
                    <app-countries-selector id="nationality" (onSelected)="onCountrySelected($event[0])"></app-countries-selector>
                    <span class="info small-text" *ngIf='errors.nationality != undefined && errors.nationality != ""'>{{errors.nationality}}</span>
                </div>
            </div>

            <div class="half-paged">
                <div class="field">
                    <label class="title" for="biography">Biografia</label>
                    <textarea id="biography" class="only-vertical" (input)="onTextareaValueChange($event)" [(ngModel)]="signupData.biography"></textarea>
                    <div class="small-text">
                        <span>{{charCount}}</span>/<span>4000</span>
                        <span style="padding-left: 20px;" *ngIf="charCount > 0 && charCount < 10">Devi immettere almeno 10 caratteri!</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <h4>Dati dell'utente</h4>
    <div class="page-card">
        <div class="flexbox-container spaced">
            <div class="flexbox-container centered half-paged">
                <div>
                    <img class="user" [src]="photoUrl"/>
                </div>

                <div>
                    <label style="margin-bottom: 10px;" for="uploadedFile">
                        <input type="file" id="uploadedFile" accept="image/*" (change)="onReadUrl($event)"/>
                        <app-divbutton text="Carica foto"></app-divbutton>
                    </label>

                    <app-divbutton isBordered="true" text="Rimuovi foto" (click)="onResetUrl($event)"></app-divbutton>
                </div>

            </div>

            <div class="half-paged">
                <div class="field">
                    <label class="title" for="email">Indirizzo E-Mail <span class="highlight">(*)</span></label>
                    <input type="email" id="email" [(ngModel)]="signupData.email"/>
                    <span class="info small-text" *ngIf='errors.email != undefined && errors.email != ""'>{{errors.email}}</span>
                </div>
    
                <div class="field">
                    <label class="title" for="password">Password <span class="info small-text">(minimo 8 caratteri) </span><span class="highlight">(*)</span></label>
                    <input type="password" id="password" [(ngModel)]="signupData.password"/>
                    <span class="info small-text" *ngIf='errors.password != undefined && errors.password != ""'>{{errors.password}}</span>
                </div>
    
                <div class="field">
                    <label class="title" for="passwordConfirm">Ripeti password <span class="highlight">(*)</span></label>
                    <input type="password" id="passwordConfirm"  [(ngModel)]="signupData.passwordConfirm"/>
                    <span class="info small-text" *ngIf='errors.passwordConfirm != undefined && errors.passwordConfirm != ""'>{{errors.passwordConfirm}}</span>
                </div>
            </div>
        </div>
    </div>

    <h4 *ngIf="!isPatientAccount">Dati del paziente</h4>
    <div class="page-card" *ngIf="!signupData.isPatient">
        <p>In quanto registrato come tutore o dottore, inserisci anche dati della persona a cui si farà riferimento</p>

        <div class="flexbox-container spaced">
            <div class="half-paged">
                <div class="field">
                    <label class="title" for="patientName">Nome paziente<span class="highlight">(*)</span></label>
                    <input type="text" id="patientName" [(ngModel)]="signupData.patientName"/>
                </div>

                <div class="field">
                    <label class="title" for="patientSurname">Cognome paziente<span class="highlight">(*)</span></label>
                    <input type="text" id="patientSurname" [(ngModel)]="signupData.patientSurname"/>
                </div>

                <div class="field">
                    <label class="title" for="patientBirthDate">Data di nascita paziente<span class="highlight">(*)</span></label>
                    <input type="date" id="birthDate" [(ngModel)]="signupData.patientBirthDate"/>
                </div>
            </div>

            <div class="half-paged">
                <div class="field">
                    <label class="title">Sesso del paziente<span class="highlight">(*)</span></label>
                    <fieldset>
                        <input type="radio" name="patientGender" id="patientGenderMale" (change)="onPatientGenderChanged('M')"/>
                        <label for="patientGenderMale">Maschio</label>

                        <input type="radio" name="patientGender" id="patientGenderFemale" (change)="onPatientGenderChanged('F')"/>
                        <label for="patientGenderFemale">Femmina</label>
                    </fieldset>
                </div>

                <div class="field">
                    <label class="title" for="countriesP">Nazionalità <span class="highlight">(*)</span></label>
                    <app-countries-selector id="countriesP" (onSelected)="onCountrySelectedP($event[0])"></app-countries-selector>
                </div>
            </div>
        </div>
    </div>

    <div class="page-card flexbox-container centered vertical">
        <p>
            Premendo sul bottone <span class="highlight">registrati</span> accetti per intero il <a href="#">regolamento</a> del nostro servizio. 
            NotSoRare tiene molto ai tuoi dati: non verrano mai condivisi con nessuno. <br/>
            Utilizziamo inoltre protocolli di ultima generazione, per garantirtitutta la sicurezza e privacy che ti meriti.
        </p>

        <div class="register-button">
            <app-divbutton #registerButton text="Accetto il Regolamento - Registrati" (click)="onRegister($event)"></app-divbutton>
        </div>
    </div>
</div>