<div class="padded">
    <!-- LOADING -->
    <div *ngIf="!isThreadsLoaded" class="centered">
        <i class='fa fa-spinner fa-spin'></i>
        <span [innerHTML]="'References.Loading' | translate"></span>
    </div>

    <!-- ERROR -->
    <div *ngIf="isAnyErrorPresent" class="centered">
        <i class='fa fa-times'></i>
        <span [innerHTML]="'References.Error' | translate"></span>
    </div>

    <!-- EMPTY -->
    <div *ngIf="isThreadsEmpty" class="centered">
        <span [innerHTML]="'References.NoData' | translate"></span>
    </div>

    <div class="page-card" *ngIf="isThreadsLoaded && !isAnyErrorPresent && !isThreadsEmpty">
    </div>
</div>