<div class="padded">
    <!-- LOADING -->
    <div *ngIf="!isExperiencesLoaded" class="centered">
        <i class='fa fa-spinner fa-spin'></i>
        <span [innerHTML]="'Profile.ExperiencesLoading' | translate"></span>
    </div>

    <!-- ERROR -->
    <div *ngIf="isAnyErrorPresent" class="centered">
        <i class='fa fa-times'></i>
        <span [innerHTML]="'Profile.ExperiencesError' | translate"></span>
    </div>

    <!-- EMPTY -->
    <div *ngIf="isExperiencesEmpty" class="centered">
        <span [innerHTML]="'Profile.ExperiencesEmpty' | translate"></span>
    </div>

    <div *ngIf="isExperiencesLoaded && !isAnyErrorPresent && !isExperiencesEmpty">
        <div class="flex wrapped start-aligned">
            <div class="experience" *ngFor="let experience of experiences" (click)="openExperience(experience.CodDisease, experience.CodUser)">
                <h5>{{experience.DiseaseName}}</h5>
                <div class="small-detail">
                    <span [innerHTML]="'Profile.ExperiencesCreatedAt' | translate"></span>
                    <span>: </span>
                    <span class="colored">{{experience.CreatedAt | date : 'dd/MM/yyyy HH:mm'}}</span>
                </div>
                <div class="small-detail">
                    <span [innerHTML]="'Profile.ExperiencesUpdatedAt' | translate"></span>
                    <span>: </span>
                    <span class="colored">{{experience.UpdatedAt | date : 'dd/MM/yyyy HH:mm'}}</span>
                </div>
            </div>
        </div>
    </div>
</div>