<div class="padded">
    <!-- LOADING -->
    <div *ngIf="!isFollowedDiseasesLoaded" class="centered">
        <i class='fa fa-spinner fa-spin'></i>
        <span [innerHTML]="'References.Loading' | translate"></span>
    </div>

    <!-- ERROR -->
    <div *ngIf="isAnyErrorPresent" class="centered">
        <i class='fa fa-times'></i>
        <span [innerHTML]="'References.Error' | translate"></span>
    </div>

    <!-- EMPTY -->
    <div *ngIf="isFollowedDiseasesEmpty" class="centered">
        <span [innerHTML]="'References.NoData' | translate"></span>
    </div>

    <div *ngIf="isFollowedDiseasesLoaded && !isAnyErrorPresent && !isFollowedDiseasesEmpty">
        <div class="flex wrapped start-aligned">
            <div class="flex vertical disease centered" *ngFor="let disease of followedDiseases" (click)="openDisease(disease.CodDisease)">
                <img [src]="disease.SpecialtyImage" />
                <h5>{{disease.Name}}</h5>
            </div>
        </div>
    </div>
</div>