<div class="container">
    <!-- LOADING -->
    <div *ngIf="!isThreadLoaded" class="page-card centered">
        <i class='fa fa-spinner fa-spin'></i>
        <span [innerHTML]="'ForumThread.Loading' | translate"></span>
    </div>

    <!-- ERROR -->
    <div *ngIf="isAnyErrorPresent" class="page-card centered">
        <i class='fa fa-times'></i>
        <span [innerHTML]="'Moderator.Error' | translate"></span>
    </div>

    <!-- User not logged -->
    <div *ngIf="!isUserLoggedIn && isThreadLoaded" class="page-card centered">
        <span [innerHTML]="'Moderator.NotLoggedIn' | translate"></span>
    </div>

    <!-- ALL OK -->
    <div *ngIf="isUserLoggedIn && !isAnyErrorPresent && isThreadLoaded">
        <app-forum-thread-view class="thread-title" [isAnonymous]="thread.author.is_anonymous" [image]="thread.author.photoURL" [author]="thread.author.fullname"
            [pastTime]="thread.past_time" [title]="thread.title" [content]="thread.description">
        </app-forum-thread-view>

        <app-forum-thread-view *ngFor="let message of thread.messages" [isAnonymous]="message._authorId.is_anonymous" [image]="message._authorId.photoURL"
            [author]="message._authorId.fullname" [pastTime]="message.past_time" [content]="message.content" isMessage="true"
            [messageID]="message.code" [threadID]="thread.code" [moderatedSection]="codDisease">
        </app-forum-thread-view>
    </div>
</div>