/* FONTS */
@font-face {
    font-family: 'Trebuchet MS';
    src: url('../fonts/TrebuchetMS.ttf') format('truetype');
}

@font-face {
    font-family: 'Segoe UI';
    src: url('../fonts/SegoeUI.ttf') format('truetype');
}

@font-face {
    font-family: 'Segoe UI Light';
    src: url('../fonts/SegoeUILight.ttf') format('truetype');
}

@font-face {
    font-family: 'Segoe UI Bold';
    src: url('../fonts/SegoeUIBold.ttf') format('truetype');
}


/* COLORS */
$accent-color: unquote("#EB5E64");
$accent-dark-color: unquote("#E22B2D");
$background-color: radial-gradient(#e7e7e7, #d5d5d5);

$button-hover-overlay: unquote("#00000009");
$button-pressed-overlay: unquote("#00000015");

$card-background-color: white;

$text-color: unquote("#494949");
$text-light-color: unquote("#888888");
$text-dark-color: unquote("#403f3f");

/* EFFECTS */
$card-shadow: 0 1px 10px 0 rgba(0,0,0,0.5);
$card-light-shadow: 0 1px 3px 0px #8a8a8a;

/* DIMENSIONS */
$nav-size: 55px;
$padding-box: 30px;

/*mixins*/
@mixin setWidth($value) {
    min-width: $value;
    max-width: $value;
    width: $value;
}

@mixin setHeight($value) {
    min-height: $value;
    max-height: $value;
    height: $value;
}




