@import 'common-values';

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: #e7e7e7;
    height: 100% !important;
    min-height: 100% !important;
    color: $text-color;
}

*:active {
    outline: none;
}

.flexbox-container {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;

    &.centered {
        justify-content: center;
    }

    &.spaced {
        justify-content: space-between;
    }

    &.spaced-alter {
        justify-content: center;
        align-items: center;
        align-content: center;
    }

    &.horizontal {
        flex-flow: row;
    }

    &.vertical {
        flex-flow: column;
        align-items: stretch;
        justify-content: center;
        align-content: center;
        height: 100%;
    }

    &.stretch {
        align-content: stretch;
        align-items: stretch;
    }

    &.top {
        justify-content: flex-start;
    }

    &.top-aligned {
        align-items: flex-start;
    }
}

.page-card {
    padding: 30px;
    margin-bottom: 30px;
    background: $card-background-color;
    -webkit-box-shadow: $card-light-shadow;
    -moz-box-shadow: $card-light-shadow;
    box-shadow: $card-light-shadow;
    border-radius: 5px;
}

.card {
    background: $card-background-color;
    box-shadow: $card-shadow;

    &.margined {
        margin: 10px;
        padding: 10px;
    }

    &.secondary {
        background: transparent;
        border: 2px solid $accent-color;
    }
}

.main-container {
    color: $text-color;
    width: 100%;
    height: 100%;
}

.container {
    margin: 15%;
    margin-top: 30px;
    margin-bottom: 30px;
}


$notify-badge-size: 12px;
.notify-badge {
    position: relative;
    background: $accent-dark-color;
    border-radius: $notify-badge-size;
    width: $notify-badge-size;
    height: $notify-badge-size;
    font-size: $notify-badge-size - 4;
    text-align: center;
    color: white;
    top: -38px;
    left: 5px;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #aaa;
    margin: 1em 0;
    padding: 0; 
}

fieldset {
    border: none;
    padding: 0;
    margin: 0;
    margin-bottom: 15px;
}

.small-text {
    font-size: 0.7em;
    font-style: italic;
}