@import 'common-values';

.div-option {
    & img {
        width: 20px;
        height: 20px;
        object-fit: contain;
        margin-right: 10px;
    }
}
/*
app-countries-selector {

    &.error {
        border: 1px solid $accent-dark-color;
        border-radius: 5px;
    }

    &:focus, &:active {
        border: 1px solid gray;
    }
}

.ng-select .ng-select-container,
.ng-select.ng-select-opened > .ng-select-container {
    border: 1px solid lightgray;

    &:focus, &:active {
        border: 1px solid gray;
    }

    &.error {
        border: 1px solid $accent-dark-color;
    }
}*/