@import 'common-values';

h3 {
    margin: 0;
    padding: 0;
}

.message {
    font-size: 1.1em;
}

.synonymous {
    font-size: 0.9em;
}

.no-box {
    font-size: 1.5em;
}


.general-box {
    display: flex;
    flex-direction: row;
}

$menu-box-width: 320px;
.menu-box {
    min-width: $menu-box-width;
    width: $menu-box-width;
    max-width: $menu-box-width;

    .title-box {
        padding: $padding-box;
        background: $accent-dark-color;
        color: white;
        min-height: 150px;

        h3 {
            color: white;
        }
    }
}

.statistics-box {
    margin-top: 10px;

    & .big {
        font-size: 1.2em;
    }

    & .fa {
        min-width: 30px;
    }

    & div.big {
        display: inline-block;
        min-width: 60px;
    }
}

.small-box {
    border: 1px solid #646464;
    background: #9a9a9a;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 0.9em;
    color: white;
}

.clear-list.small {
    li {
        font-size: 0.8em;
    }
}

.clear-list.menu {
    li {
        cursor: pointer;
        min-width: $menu-box-width;
        width: $menu-box-width;
        max-width: $menu-box-width;

        min-height: 48px;
        line-height: 48px;

        padding-left: $padding-box;
        padding-right: $padding-box;
        margin: 0;
        margin-bottom: 1px;
        background: white;

        i {
            font-size: 1.2em;
        }

        &:hover {
            background: #f5f5f5;
        }

        &.selected {
            background: lightgray;
        }
    }
}

.content-box {
    flex-grow: 1;
}

