@import 'common-values';

.page-card {
    margin-top: 15px;
}

$input-height: 38px;

.search {
    height: $input-height;
    max-height: $input-height;
    min-height: $input-height;
    line-height: $input-height;
    width: 70%;
    padding: 0px;
    margin: 0px;
    padding-left: 20px;
    padding-right: 20px;
    background: white;
    border: 2px solid $accent-dark-color;
    border-radius: 5px;
}

.clickable {
    cursor: pointer;
    
    &:hover {
        color: $accent-dark-color;
    }
}