@import 'common-values';

.divbutton {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    box-sizing: border-box;
    background: $accent-dark-color;
    border-radius: 10px;
    border: 2px solid transparent;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;

    .divbutton-overlay {
        border-radius: 10px;
        padding: 3px;
        padding-left: 30px;
        padding-right: 30px;
        height: 88%;

        flex-grow: 1;
        text-align: center;

        &:hover {
            background: $button-hover-overlay;
            cursor: pointer;
        }
    
        &:active {
            background: $button-pressed-overlay;
        }
    }

    &.bordered {
        border: 2px solid $accent-dark-color;
        background: white;
        color: $accent-dark-color;
    }
}

.margined {
    margin-right: 5px;
}

.half-cornered {
    border: 2px solid $accent-dark-color;
    border-radius: 0px 5px 5px 0px;

    .divbutton-overlay {
        border-radius: 0px 5px 5px 0px;
    }
}