@import 'common-values';

.experience-box {
    min-height: 320px;
    max-height: 350px;
    min-width: 220px;
    max-width: 220px;
    box-sizing: border-box;
    margin: 15px;

    img {
        width: 180px;
        height: 180px;
        margin-top: 20px;
        margin-bottom: 20px;
        border: 1px solid lightgray;
    }

    &.hovered {
        border: 1px solid transparent;
        cursor: pointer;

        &:hover {
            border: 1px solid $accent-dark-color;
            background: #fdfdfd;
        }
    }

}

.button {
    margin-top: 10px;
    max-height: 35px;
    margin-bottom: 20px;
}

b {
    font-size: 1.1em;
}

.male {
    color: #1c5db3;
}

.female {
    color: $accent-color;
}

.small {
    font-size: 0.9em;
}

.date {
    font-style: italic;
}