@import 'common-values';

.middle {
    width: 50%;
    text-align: center;

    & > * {
        margin-bottom: 50px;
    }
}


$input-height: 38px;

input {
    box-sizing: border-box;
    width: 70%;
    border: 2px solid $accent-dark-color;
    border-radius: 5px 0px 0px 5px;
    padding: 20px;
    height: $input-height
}

#button-search {
    height: $input-height + 5;
    line-height: $input-height + 5;
}