@import 'common-values';

.middle {
    width: 60%;

    & > * {
        margin-bottom: 50px;
    }

    p, h4 {
        text-align: center;
    }
}


$input-height: 38px;

.ng-select, #button-search {
    height: $input-height;
    max-height: $input-height;
    min-height: $input-height;
}

#button-search {
    line-height: $input-height;
}

.ng-select {
    width: 70%;
    background: white;
    border: 2px solid $accent-dark-color;
    border-radius: 5px 0px 0px 5px;

    &.home-select {
        &:focus, &:active {
            border: none;
        }
    }
}

.ng-select.home-select .ng-select-container  {            
    min-height: 0px;
    border-radius: 0;
}

.ng-select.ng-select-opened > .ng-select-container {
    border: none;
    border-radius: 0;
}
