@import 'common-values';

.middle {
    width: 60%;
    text-align: center;

    & > *:not(.searchbar) {
        margin-bottom: 50px;
    }
}

$input-height: 38px;

.search, #button-search {
    height: $input-height;
    max-height: $input-height;
    min-height: $input-height;
    line-height: $input-height;
}

.search {
    padding: 0px;
    margin: 0px;
    width: 70%;
    padding-left: 20px;
    padding-right: 20px;
    background: white;
    border: 2px solid $accent-dark-color;
    border-radius: 5px 0px 0px 5px;
}

.searching {
    padding-top: 10px;
}

.results {
    margin: auto;
    margin-top: 15px;
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    background: white;
}

.hidden {
    visibility: hidden;
}

.disease {
    @include setWidth(100px);
    @include setHeight(100px);
    margin: 20px;
    padding: 20px;
    background: #f0f0f0;
    border: 1px solid gray;
    box-shadow: $card-light-shadow;
    border-radius: 5px;

    &.add {
        border: 2px dashed $accent-dark-color; 
        background: #f0f0f081;
    }
}