@import 'common-values';

h3, h4 {
    margin: 0;
    padding: 0;
}

h3 {
    color: $accent-dark-color;
}

.box {
    border: 2px solid $accent-dark-color;
    background: white;
    padding: $padding-box;
    margin: $padding-box;
}

.title-box {
    background: white;
    margin: $padding-box;
    min-height: 160px;
    display: flex;
    align-content: stretch;
    align-items: stretch;
    justify-content: flex-start;
    border: 1px solid lightgray;

    &>* {
        min-width: 250px;
        margin-right: 5%;
        padding: $padding-box;
    }

    .left-title {
        max-width: 250px;
        background: $accent-color;
        color: white;
    }
}