@import 'common-values';

h3, h4 {
    margin: 0;
    padding: 0;
}

h3 {
    color: $accent-dark-color;
}

.small-box {
    border: 1px solid #808080;
    background: #929292;
    color: white;
    border-radius: 10px;
    padding: 3px 10px;
    font-weight: bold;
    font-size: 0.9em;
}

.title-box {
    background: white;
    margin: $padding-box;
    min-height: 160px;
    display: flex;
    align-content: flex-start;
    align-items: stretch;
    justify-content: flex-start;
    border: 1px solid lightgray;

    &>* {
        min-width: 250px;
        margin-right: 5%;
        padding: $padding-box;
    }

    .left-title {
        max-width: 250px;
        background: $accent-color;
        color: white;
    }
}

.floating-button {
    width: 48px;
    min-width: 48px;
    max-width: 48px;
    height: 48px;
    max-height: 48px;
    min-height: 48px;
    background: $accent-dark-color;
    color: white;
    text-align: center;
    line-height: 48px;
    border-radius: 50%;
    cursor: pointer;

    top: auto !important;
    right: 20px !important;
    bottom: 10px !important;
    left: auto !important;
    position: fixed !important;

    &:hover {
        background: $accent-color;
    }
}