@import 'common-values';

.field {
    margin-top: 15px;
    display: grid;
}

.centered {
    text-align: center;
}

.container {
    margin: 15%;
    margin-top: 30px;
    margin-bottom: 30px;
}

.half-paged {
    width: 47%;
}

img.user {
    border: 1px solid gray;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: contain;
    margin-right: 20px;
}

input[type=file] {
    display: none;
}

app-divbutton {
    margin-right: 1px;
}

.register-button {
    max-width: 400px;
    align-self: center;
}

textarea {
    height: 300px;
}
