@import 'common-values';


.root {
    display: flex;
    flex-flow: column;
    height: 100%;
}

.root .header {
    flex: 0 1 auto;
    z-index: 9999;
}

.root .content {
    flex: 1 1 auto;
}

.root app-top-bar {
    width: 100%;
}