@import 'common-values';

app-top-bar {
    z-index: 999999;
}

.root > *:not(app-top-bar):not(router-outlet) {
    flex-grow: 1;
    height: 100%;
}

.root app-home {
    margin-top: -$nav-size;
}


/*
app-home, app-register {
    margin-top: -$nav-size;
    flex-grow: 1;
    height: 100%;
}*/

/*
.main-frame {
    margin-top: -$nav-size;
    flex-grow: 1;
}*/