@import 'common-values';

$top-bar-updown-padding: 8px;
$top-bar-lateral-padding: 15px;

.top-bar {
    height: $nav-size;
    max-height: $nav-size;
    min-height: $nav-size;
}

img {
    &.logo {
        max-height: $nav-size - ($top-bar-updown-padding * 2);
        margin-left: $top-bar-lateral-padding;
        margin-right: $top-bar-lateral-padding;
    }

    &.icon {
        box-shadow: 0px 0px 0px 1px lightgray;
        max-height: 10px;
        max-width: 13px;
        width: 13px;
        min-width: 13px;
        margin-right: 8px;
    }
}

.margined > * {
    margin-right: 20px;
}

ng-select.custom-select {
    min-width: 80px;
}

.left-components {
    cursor: pointer;
}