@import 'common-values';

$top-bar-updown-padding: 5px;
$top-bar-lateral-padding: 15px;

.top-bar {
    height: $nav-size;
    max-height: $nav-size;
    min-height: $nav-size;
}

img {
    max-height: $nav-size - ($top-bar-updown-padding * 2);
    margin-left: $top-bar-lateral-padding;
    margin-right: $top-bar-lateral-padding;
}

.margined > * {
    margin-right: 20px;
}